* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header start */
.header-container {
    text-align: center;
}

#app-title {
    font-size: 2.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(58, 58, 211);
    color: white;
    padding: 1px;
    border-radius: .3rem;
    margin: 1px;
    width: 99.9%;
    
}
/* header end */

/* city search block start */
.search-container {
    /* background-color: lightgray; */
    margin-top: 5px;
    /* border: 3px solid black; */
    border-radius: 0.3rem;
    padding-bottom: 1.5rem;
}

.container-header {
    font-weight: bold;
}

.form-label,
#cityname,
.form-textarea {
    display: block;
    width: 100%;
    /* margin-bottom: 5px; */
}

.form-label {
    font-size: 1.1rem;
    margin: 2px;
    padding: 5px;
}

.btn2 {
    font-size: 1rem;
    font-weight: bold;
    background-color: lightskyblue;
    width: 100%;
    border: 1px solid lightskyblue;
    border-radius: 0.3rem;
    margin-top: 5px;
    height: 25px;
}

.btn2:hover {
    background-color:rgb(99, 161, 199);
    box-shadow: black;
}
/* city search block end */

/* city results block start */
.results-container {
    font-size: 1rem;
    margin-top: 5px;
    /* padding-bottom: 10rem; */
    /* border: 1px solid black; */
}

#result-date,
#result-city {
    font-weight: bold;
}

#result-date {
    font-size: 20px;
}

/* city results block end */

/* 5 day forecast start */
.search-results {
    border: 1px solid black;
    padding-bottom: 30rem;
}

.forecast {
    
}

.forecast-header {
    background-color: lightgray;
}

.forecast-day-font {
    font-weight: bold;
    font-size: 14px;
}


/* .forecast {
    border: 1px solid black;
} */
/* 5 day forecast end */